  *{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* header */
  .headroom {
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    display: flex!important;
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
    background-color: #F5F5F5;
    box-shadow: 0 0 2px 0 #888888;
    z-index: 2!important;
  }
  .headroom-wrapper{
    height:100px;
  }
  .headroom--unfixed {
    position: fixed;
    transform: translateY(0);
  }
  .headroom--scrolled {
    transition: transform 200ms ease-in-out;
  }
  .headroom--unpinned {
    transform: translateY(-100%);
  }
  .headroom--pinned {
    transform: translateY(0%);
  }
  .link{
    padding-bottom: 5%;
  }
  .logo{
    width: 100px;
    cursor: pointer;
  }
  .nav .link{
    display: inline-block;
    list-style: none;
    margin: 0 40px;
    padding-top:30px;
  }
  .nav li a{
    text-decoration: none;
    color: rgb(145, 36, 70);
    font-size: 23px;
    font-family: 'Montserrat';
    padding:10px;
    transition: color 1s linear;
    font-weight: 900;
  }
  .nav li a:hover, 
  .nav .active a{
    text-decoration: none;
    background-color: rgb(145, 36, 70);
    color: white;
    padding: 10px;
    border-radius: 5px;
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
    font-weight: 900;
  }
  .overlay{
    display: none;
  }
  .mobile-nav{
    display:none;
  }

  /* Home */
  .container.aboutUs{
    max-width: 100%;
    padding: 0;
    background:whitesmoke;
    overflow-y: hidden;
  }

  .container .banner{
    height:470px;
    width:100%;
  }
  .container.aboutUs .who-are-we,
  .container.aboutUs .objectives{
    padding:0 2rem;
  }

  div.our-team{
    padding:0 2rem;
  }

  div.our-team .image-card{
      width:100%;
      position:relative;
      float:left;
      margin-bottom:20px;
      height:350px;
      margin-right:20px;
  }
 
  div.our-team .image-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index:1;
  }
  div.our-team .image-card .user-social-link{
    position:absolute;
    top:130px;
    left:40%;
    display: none;
  }

  div.our-team .image-card:hover > .user-social-link{
    display: block;
  }
  
  div.our-team .image-card .user-social-link i{
    font-size: 20px;
    color:#00000096;
  }

  div.our-team .image-card .user-social-link .fa-facebook-f:hover{
    color:#1877f2;
  }
  div.our-team  .image-card .user-social-link .fa-instagram:hover{
    color:#e95950;
  }
  div.our-team .image-card .user-social-link .fa-linkedin:hover{
      color:#0077B5;
    }

  
  div.our-team .image-card:hover > a img{
    filter: blur(4px);
  }
  
  div.our-team .image-card .user-details{
    position:absolute;
    bottom:0;
    text-align:center;
    width:100%;
    background-color:#00000096;
    padding-bottom:10px;
    z-index:99;
  }
  /* .container.our-team div{
    padding-left: 2px;
  } */


  /* .container.our-team .card{
    margin-bottom: 15px;
  }
  .container.our-team .card-header{
    background: url('./image/banner.jpg');
  }
  .container.our-team .card-body{
    text-align: center;
  }
  .container.our-team .card-body h1{
    font-size: 18px;
  }
  .container.our-team .card-body span{
    font-size: 14px;
    display: block;
    margin-bottom: 14px;
  }
  .container.our-team .social-link{
    font-size: 10px;
  } */

  /* tournament */
  .container.tournament{
    max-width: 100%;
    padding: 0!important;
    margin: 0!important;
  }

  /* .container.tournament .banner{
    height:562px;
    width:100%;
  } */

  .container.tournament .banner-div,
  .container.tournament .roadmap-div,
  .container.tournament .rules-div{
    margin-bottom: 2px;
  }

  /* .container.tournament .roadmap{
    height:562px;
    width: 100%;
  } */

  .container.tournament .about-tournament{
    background-color: whitesmoke;
    padding-bottom: 10px;
  }
  .container.tournament .about-heading h1{
    text-align: center;
  }
  
  .container.tournament p{
    padding:0 10px;
    margin:0!important;
  }

  .rules-div .rules-accordian .rules-card{
    text-align: center!important;
  }
  .rules-div .rules-accordian .rules-card .rules-card-header h1{
    color:#860000;
    text-decoration: none;
    font-family: "Poppins";
    font-size: 60px;
  }
  .rules-card .rules-card-header .rules-accordian-button,
  .rules-card .rules-card-header .rules-accordian-button:hover{
    text-decoration: none;
  }
  .rules-card-body .rule-list{
    text-align:left;
  }
  .rules-card-body .rule-list .rule-icon{
    display: inline-block;
    height: 50px;
  }
  /* .rules-card-body .rule-list .rules-description{ */
    /* display: inline-block;
    position: absolute;
    margin-left: 8px; */
  /* } */
  .register-div{
    background: url('./image/register.jpg') no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    height:500px;
    position: relative;
  }
  .register-div form{
    width: 40rem;
    height: 25rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 10px;
    position: absolute;
    z-index: 0;
    background: inherit;
    overflow: hidden;
    left:30%;
    top:22px;
    padding: 25px 25px 0 25px;
  }
  .register-div form:before{
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
  }
  .register-div form input{
    width:100%;
  }
  .register-div form input[type="text"]{
    background-color: transparent;
    border: none;
    border-bottom:1px solid black;
  }
  input:read-only{
    cursor: not-allowed;
    opacity:0.5;
  }
  .register-btn{
    padding: 8px 12px!important;
    border-radius: 8px!important;
    background: #860000!important;
    color: #F5F5F5!important;
  }

  /* Gallery */
  .gallery-container{
    margin:10rem 0;
  }


  /* footer */

  /* footer .container{
    background-color: #F5F5F5;
    max-width: 100%;
    padding: 50px 100px 0 100px;
  } */
  footer{
    box-shadow: 0 0 2px 0 #888888;
  }

  footer .container .logo{
    width:120px;
  }
  footer .container h4{
    font-weight: 700;
    padding-bottom: 20px;
  }
  footer .container h4:before{
    content: "";
    position: absolute;
    left: 16px;
    width: 50px;
    height: 4px;
    top: 29px;
    background: red;
    padding-left: 24px;
  }
  footer .container ul{
    padding-bottom: 15px;
  }
  footer .container .footer-link{
    padding-bottom: 12px;
    list-style-type: none;
    position: relative;
    height: 35px;
  }
  footer .container .footer-link a{
    color:black;
    font-size: 16px;
    transition: transform .2s;
  }
  footer .container .footer-link a:hover{
    text-decoration: none;
    color:#860000;
    font-size:20px;
    position: absolute;
    padding-left:5px;
  }
  footer .container .footer-contact-link{
    padding-bottom: 12px;
    list-style-type: none;
    position: relative;
    height: 35px;
  }
  footer .container .footer-contact-link a{
    color:black;
    font-size: 14px;
    transition: transform .2s;
    font-family: 'Roboto';
  }
  footer .container .footer-contact-link a:hover{
    text-decoration: none;
  }
  footer .container .footer-contact-link i{
    font-size: 14px;
    margin-right:2px;
  }
  .fa-facebook-f{
    margin-right: 8px;
    color:#1877f2
  }
  .fa-twitter{
    margin-right: 8px;
    color:#1da1f2
  }
  .fa-youtube{
    margin-right: 8px;
    color:#ff0000
  }
  .fa-discord{
    margin-right: 8px;
    color:#7289da;
  }
  .fa-instagram{
    margin-right: 8px;
    color: #e95950;
  }
  .social-link{
    font-size:35px;
  }
  .social-link:hover{
    transform: rotate(-10deg);
  }

  .who-are-we{
    background-color: ghostwhite;
  }

  .who-are-we div{
    position:relative;
    height:230px;
  }

  .who-are-we img{
    width: 20%;
  }

  .who-are-we p{
    position:absolute;
    top:15%;
    left:22%
  }

  .our-team{
    background-color: ghostwhite;
  }

  .our-team .header-div{
    margin-bottom: 10px;
  }

  .our-team .header-div h1{
    text-align:center;
    font-size:65px;
    margin-bottom:15px;
  }

  .container.contact-us{
    max-width:100%;
    padding:0;
  }
  .container.contact-us .heading-div{
    height:250px;
    background:whitesmoke;
    position:relative;
    text-align: center;
  }

  .container.contact-us .heading-div h3{
    padding-top:5%;
    font-size:65px;
  }

  .container.contact-div form{
    margin:25px auto;
    padding:50px 0;
    width:80%;
  }

  input.form-control{
    padding:20px 10px!important;
    border-radius:6px!important;
    background-color:whitesmoke!important;
  }

  textarea.form-control{
    width:100%;
    background-color:whitesmoke;
  }

  .about-tournament{
    padding: 25px 0;
  }
  .about-tournament .heading-div{
    text-align: center;
  }
  .about-tournament .heading-div h3{
    color: #860000;
    text-decoration: none;
    font-family: "Poppins";
    font-size: 60px;
  }

  @media screen and (min-width: 1121px) {
    .container.aboutUs .banner{
      height:470px;
      width:100%;
    }
    .container.tournament .banner{
      height:470px;
      width:100%;
    }
    .container.tournament .roadmap{
      height:470px;
      width: 100%;
    }
    .footer-contact-link a{
      position: absolute;
      top:2px;
    }
    footer .container{
      background-color: #F5F5F5;
      max-width: 100%;
      padding: 30px 60px 0 60px;
    }
    footer .container .row .follow-us{
      padding-left: 30px!important;
    }

    footer .container .follow-us h4:before{
      content: "";
      position: absolute;
      left: 30px;
      width: 50px;
      height: 4px;
      top: 29px;
      background: red;
      padding-left: 24px;
    }
    .social-link{
      font-size:25px;
    }
    .container.contact-us .heading-div h3{
      padding-top:6%;
      font-size:65px;
    }
  }

  @media screen and (max-width: 1120px) {
    .container.aboutUs .banner{
      height:380px;
      width:100%;
    }
    .container.tournament .banner{
      height:380px;
      width:100%;
    }
    .container.tournament .roadmap{
      height:380px;
      width: 100%;
    }
    footer .container{
      background-color: #F5F5F5;
      max-width: 100%;
      padding: 40px 40px 0 70px;
    }
    .footer-contact-link a{
      position: absolute;
      top:2px;
    }
    .social-link{
      font-size:25px;
    }
    .register-div form{
      width: 40rem;
      height: 25rem;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
      border-radius: 10px;
      position: absolute;
      z-index: 0;
      background: inherit;
      overflow: hidden;
      left:20%;
      top:22px;
      padding: 25px 25px 0 25px;
    }
    .who-are-we div{
      position:relative;
      height:200px;
    }
    .container.contact-us .heading-div h3{
      padding-top:8%;
      font-size:65px;
    }
  }

  @media screen and (max-width: 994px) {
    .nav .link{
      display: inline-block;
      list-style: none;
      margin: 0 30px;
      padding-top:30px;
    }
    .nav li a{
      text-decoration: none;
      color: rgb(145, 36, 70);
      font-size: 20px;
      font-family: 'Montserrat';
      padding:10px;
      transition: color 1s linear;
      font-weight: 900;
    }
    .nav li a:hover, 
    .nav .active a{
      text-decoration: none;
      background-color: rgb(145, 36, 70);
      color: white;
      padding: 10px;
      border-radius: 5px;
      -webkit-transition: all 800ms ease;
      -moz-transition: all 800ms ease;
      -ms-transition: all 800ms ease;
      -o-transition: all 800ms ease;
      transition: all 800ms ease;
      font-weight: 900;
    }
    .container.tournament .banner{
      height:380px;
      width:100%;
    }
    .container.tournament .roadmap{
      height:380px;
      width: 100%;
    }
    footer .container{
      background-color: #F5F5F5;
      max-width: 100%;
      padding: 40px 40px 10px 40px;
    }
    .social-link{
      font-size:25px;
    }
    .register-div form{
      width: 40rem;
      height: 25rem;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
      border-radius: 10px;
      position: absolute;
      z-index: 0;
      background: inherit;
      overflow: hidden;
      left:16%;
      top:22px;
      padding: 25px 25px 0 25px;
    }
    .who-are-we div{
      position:relative;
      height:170px;
    }
    .container.contact-us .heading-div h3{
      padding-top:8%;
      font-size:65px;
    }
  }

  @media screen and (max-width: 860px) {
    .nav .link{
      display: inline-block;
      list-style: none;
      margin: 0 20px;
      padding-top:30px;
    }
    .nav li a{
      text-decoration: none;
      color: rgb(145, 36, 70);
      font-size: 18px;
      font-family: 'Montserrat';
      padding:10px;
      transition: color 1s linear;
      font-weight: 900;
    }
    .nav li a:hover, 
    .nav .active a{
      text-decoration: none;
      background-color: rgb(145, 36, 70);
      color: white;
      padding: 10px;
      border-radius: 5px;
      -webkit-transition: all 800ms ease;
      -moz-transition: all 800ms ease;
      -ms-transition: all 800ms ease;
      -o-transition: all 800ms ease;
      transition: all 800ms ease;
      font-weight: 900;
    }
    .container.aboutUs .banner{
      height:330px;
      width:100%;
    }
    .container.tournament .banner{
      height:330px;
      width:100%;
    }
    .container.tournament .roadmap{
      height:330px;
      width: 100%;
    }
    .social-link{
      font-size:20px;
    }
    .register-div form{
      width: 30rem;
      height: 25rem;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
      border-radius: 10px;
      position: absolute;
      z-index: 0;
      background: inherit;
      overflow: hidden;
      left:22%;
      top:22px;
      padding: 25px 25px 0 25px;
    }
    .who-are-we div{
      position:relative;
      height:150px;
    }
  }

  @media screen and (max-width: 770px) {
    .nav .link{
      display: inline-block;
      list-style: none;
      margin: 0 18px;
      padding-top:30px;
    }
    .nav li a{
      text-decoration: none;
      color: rgb(145, 36, 70);
      font-size: 16px;
      font-family: 'Montserrat';
      padding:10px;
      transition: color 1s linear;
      font-weight: 900;
    }
    .nav li a:hover, 
    .nav .active a{
      text-decoration: none;
      background-color: rgb(145, 36, 70);
      color: white;
      padding: 10px;
      border-radius: 5px;
      -webkit-transition: all 800ms ease;
      -moz-transition: all 800ms ease;
      -ms-transition: all 800ms ease;
      -o-transition: all 800ms ease;
      transition: all 800ms ease;
      font-weight: 900;
    }
    .register-div form{
      width: 28rem;
      height: 28rem;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
      border-radius: 10px;
      position: absolute;
      z-index: 0;
      background: inherit;
      overflow: hidden;
      left:50px;
      padding-top:2rem;
      top:20px;
      padding-left:25px;
    }
    footer .container{
      background-color: #F5F5F5;
      max-width: 100%;
      padding: 40px 50px 0 100px;
    }
    .register-div form{
      width: 30rem;
      height: 25rem;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
      border-radius: 10px;
      position: absolute;
      z-index: 0;
      background: inherit;
      overflow: hidden;
      left:15%;
      top:22px;
      padding: 25px 25px 0 25px;
    }
    .who-are-we img{
      width:22%;
    }
    .who-are-we p{
      position:absolute;
      top:15%;
      left:24%
    }
  }

  @media screen and (max-width: 636px) {
    .nav .link{
      display: inline-block;
      list-style: none;
      margin: 0 10px;
      padding-top:30px;
    }
    .nav li a{
      text-decoration: none;
      color: rgb(145, 36, 70);
      font-size: 14px;
      font-family: 'Montserrat';
      padding:10px;
      transition: color 1s linear;
      font-weight: 900;
    }
    .nav li a:hover, 
    .nav .active a{
      text-decoration: none;
      background-color: rgb(145, 36, 70);
      color: white;
      padding: 10px;
      border-radius: 5px;
      -webkit-transition: all 800ms ease;
      -moz-transition: all 800ms ease;
      -ms-transition: all 800ms ease;
      -o-transition: all 800ms ease;
      transition: all 800ms ease;
      font-weight: 900;
    }

    .register-div form{
      width: 30rem;
      height: 28rem;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
      border-radius: 10px;
      position: absolute;
      z-index: 0;
      background: inherit;
      overflow: hidden;
      left:12%;
      padding-top:2rem;
      top:20px;
      padding-left:25px;
    }
    footer .container{
      background-color: #F5F5F5;
      max-width: 100%;
      padding: 40px 50px 0 100px;
    }
    .who-are-we div{
      height: 380px;
      text-align: center;
    }
    .who-are-we img{
      width:75%;
    }
    .who-are-we p{
      position:absolute;
      top:60%;
      left:0;
    }
  }


 @media screen and (max-width: 600px) {
    .container.aboutUs .banner{
      height:250px;
      width:100%;
    }
    .container.tournament .banner{
      height:250px;
      width:100%;
    }
    .container.tournament .roadmap{
      height:250px;
      width: 100%;
    }
    .container.contact-us .heading-div{
      height: 180px;
    }
    .container.contact-us .heading-div h3{
      padding-top:15%;
      font-size:50px;
    }
    .about-tournament .heading-div h3{
      color: #860000;
      text-decoration: none;
      font-family: "Poppins";
      font-size: 35px;
      font-weight: 500;
    }
    .about-tournament div p{
      font-size: 15px;
    }
  }

  @media screen and (max-width: 580px) {
    .container.aboutUs .banner{
      height:230px;
      width:100%;
    }
    .container.tournament .banner{
      height:230px;
      width:100%;
    }
    .container.tournament .roadmap{
      height:230px;
      width: 100%;
    }
    .register-div form{
      width: 28rem;
      height: 28rem;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
      border-radius: 10px;
      position: absolute;
      z-index: 0;
      background: inherit;
      overflow: hidden;
      left:10%;
      padding-top:2rem;
      top:20px;
      padding-left:25px;
    }
    footer .container{
      background-color: #F5F5F5;
      max-width: 100%;
      padding: 30px 50px 20px 30px;
    }
    
    @media screen and (max-width: 536px) {
      .headroom{
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        align-items: center;
        display: flex!important;
        -webkit-box-pack: center!important;
        -ms-flex-pack: center!important;
        justify-content: center!important;
        background-color: #F5F5F5;
        box-shadow: 0 0 2px 0 #888888;
        height: 70px;
      }
      .nav .link{
        display: none;
      }
      .nav .logo{
        position: absolute;
        left:60px;
        top:5px;
      }
      .nav .logo img{
        width:60px;
      }
      .mobile-nav{
        display: inline-block;
        position: absolute;
        top: 10px;
        font-size: 30px;
        right: 60px;
      }
      .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
        display: block;
      }
      .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
      }
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
      }
      .container.aboutUs .banner{
        height:200px;
        width:100%;
      }
      .container.tournament .banner{
        height:200px;
        width:100%;
      }
      .container.tournament .roadmap{
        height:200px;
        width: 100%;
      }
      .register-div form{
        width: 21rem;
        height: 28rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
        border-radius: 10px;
        position: absolute;
        z-index: 0;
        background: inherit;
        overflow: hidden;
        left:4%;
        padding-top:2rem;
        top:20px;
        padding-left:25px;
      }
      footer .container{
        background-color: #F5F5F5;
        max-width: 100%;
        padding: 30px 50px 20px 30px;
      }
    }
  }

  .owl-theme .owl-nav{
    margin-top:0!important;
    padding-bottom: 10px;
  }

  .owl-nav button{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: relative;
    /* color: white; */
    background: #912446!important;
  }

  .owl-nav button span{
    border-radius: 50%;
    font-size: 50px;
    position: absolute;
    top: -28px;
    left: 24%;
    color: whitesmoke;
  }

  .who-are-we img{
    animation: shift 2s;
    position: relative;
    transition-timing-function: ease;
  }


